.aboutMe__body {
  display: flex;
}

.aboutMe__leftSide {
  flex: 0.7;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  margin: 25px 10px 25px 25px;
  padding: 20px;
  z-index: 1;
}

.aboutMe__rightSide {
  flex: 0.3;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  margin: 25px 25px 25px 15px;
  padding: 20px;
  z-index: 1;
  text-align: center;
  height: fit-content;
  position: sticky;
  display: flex;
}

.aboutMe__top {
  font-size: 25px;
  font-weight: bold;
}

.aboutMe__start {
  font-size: 25px;
  font-weight: bold;
}

.rightSide__button {
  margin: 5px;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  border: solid2 2px #f4f4f4;
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(244, 244, 244, 0.2);
  font-weight: bold;
  cursor: pointer;
}

.input__type {
  width: 300px;
  height: 30px;
}

.rightSide__textArea {
  width: 300px;
  height: 200px;
}

.rightSide__message {
  padding: 10px;
  margin: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: inline;
}

.aboutMe__description {
  text-indent: 50px;
}

@media (max-width: 900px) {
  .aboutMe__body {
    display: flex;
    flex-direction: column;
  }

  .aboutMe__leftSide {
    margin: 20px 30px 10px;
  }
  .aboutMe__rightSide {
    margin: 10px 30px 30px;
  }
}
