.home {
  background: rgba(0, 0, 0, 0.15);
  height: 100vh;
}
.container {
  display: flex;
}

.container__right {
  margin: 50px;
  padding: 30px;
  border: 2px solid #171717;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  border-radius: 25px;
  background: #f4f4f4;
}

.container__right > p {
  text-indent: 30px;
}

@media (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .container__right {
    margin: 25px;
    padding: 30px;
    border: 2px solid #171717;
    border-radius: 25px;
  }
}
