.container {
  display: flex;
}

.container__left {
}

.container__right {
  margin: 50px;
  padding: 30px;
  border: 2px solid #171717;
  border-radius: 25px;
}

@media (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .container__right {
    margin: 25px;
    padding: 30px;
    border: 2px solid #171717;
    border-radius: 25px;
  }
}
