.project {
  background: #f4f4f4;
  padding: 10px;
  margin: 20px 30px;
  display: flex;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}
.project__leftSide {
  flex: 0.1;
  width: fit-content;
}

.project__logo {
  width: 150px;
  height: 150px;
}

.project__rightSide {
  padding: 10px;
  margin-left: 10px;
}

.project__name {
  font-weight: bold;
  font-size: large;
}
